<a class="btn btn-primary" href="/" role="button">GET /</a>

<a class="btn btn-primary" href="/new" role="button">GET /new</a>

<a class="btn btn-primary" href="/1" role="button">GET /:id</a>

<form action="/" method="POST">
  <button type="submit" class="btn btn-primary btn-block mt-4">POST /</button>
</form>


<form action="/records/1/delete?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit" class="btn btn-outline-danger font-weight-normal">Delete
  </button>
</form>